Nov2ndEAPWCF/MVCConsumeWCF/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Nov2ndEAPWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Nov2ndEAPWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTaskGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskGroup" nillable="true" type="tns:TaskGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskGroup" nillable="true" type="tns:ArrayOfTaskGroup" />
  <xs:complexType name="TaskGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskGroup" nillable="true" type="tns:TaskGroup" />
  <xs:complexType name="ArrayOfTaskCls">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskCls" nillable="true" type="tns:TaskCls" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskCls" nillable="true" type="tns:ArrayOfTaskCls" />
  <xs:complexType name="TaskCls">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TG" nillable="true" type="tns:TaskGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskCls" nillable="true" type="tns:TaskCls" />
</xs:schema>