Nov2ndEAPWCF/MVCConsumeWCF/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10301/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Nov2ndEAPWCF" />
  <xs:element name="LayDuLieuTaskGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDuLieuTaskGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Nov2ndEAPWCF" minOccurs="0" name="LayDuLieuTaskGroupResult" nillable="true" type="q1:ArrayOfTaskGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDuLieuTaskCls">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDuLieuTaskClsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Nov2ndEAPWCF" minOccurs="0" name="LayDuLieuTaskClsResult" nillable="true" type="q2:ArrayOfTaskCls" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTaskCls">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimKiemTaskClsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Nov2ndEAPWCF" minOccurs="0" name="TimKiemTaskClsResult" nillable="true" type="q3:ArrayOfTaskCls" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTaskCls">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Nov2ndEAPWCF" minOccurs="0" name="tc" nillable="true" type="q4:TaskCls" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTaskClsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>